*__pycache__*
*.pyc
*.o
*.so
*.project
*.settings
*.dll
*.pydevproject
*__doc/build
*__doc/_build
*__EXAMPLES/output_files/
*.log
*results/*
*results/raw*
*.clog*
*.slog*
*.pdf
*.txt
*.out
*.tex
*.csv
*.png
*tests_mpi/*
